@import "tailwindcss";

:root {
  --bone: #f5f1eb;
  --ink: #181619;
  --dark-plum: #321624;
  --deep-wine: #54213b;
  --mulberry: #743653;

  --background: var(--bone);
  --foreground: var(--ink);
}

@theme inline {
  --color-bone: var(--bone);
  --color-ink: var(--ink);
  --color-dark-plum: var(--dark-plum);
  --color-deep-wine: var(--deep-wine);
  --color-mulberry: var(--mulberry);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}